n8n/postvisit_upload_extract.workflow.json
{
  "name": "PostVisit - Upload & Extract",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "postvisit/upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f22a6b1b-d8d1-4f8a-a997-b727cc47f2e4",
      "name": "Webhook Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{$env.GEMINI_API_KEY}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Bạn là trợ lý y khoa hỗ trợ bệnh nhân sau khám.\\n\\nYÊU CẦU BẮT BUỘC:\\n1) Chỉ trích xuất thông tin đúng như bác sĩ đã ghi.\\n2) Không tự suy diễn, không tự thêm giờ uống thuốc hoặc lời dặn.\\n3) Nếu thiếu thông tin thì để \"chưa được chỉ định\".\\n\\nTrả về DUY NHẤT JSON (không markdown, không giải thích):\\n\\n{\\n  \"diagnosis\": \"...\",\\n  \"diagnosisSimplified\": \"...\",\\n  \"doctorAdvice\": \"...\",\\n  \"medications\": [\\n    {\\n      \"name\": \"...\",\\n      \"dosage\": \"...\",\\n      \"frequency\": \"...\",\\n      \"timing\": \"...\",\\n      \"days\": 0,\\n      \"purpose\": \"...\"\\n    }\\n  ],\\n  \"instructions\": [\\n    {\"action\":\"...\",\"timing\":\"...\",\"importance\":\"High|Medium|Low\"}\\n  ],\\n  \"redFlags\": [\\n    {\"symptom\":\"...\",\"action\":\"...\"}\\n  ],\\n  \"followUp\": {\"date\":\"...\",\"action\":\"...\"}\\n}\\n\\nBản ghi khám:\\n{{$json.body.recordingText}}\\n\\nLời dặn bác sĩ (nếu có):\\n{{$json.body.doctorAdvice || \"\"}}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.1\n  }\n}",
        "options": {}
      },
      "id": "a908ec9c-f973-4a05-9e41-9f32a4c6b2e9",
      "name": "Gemini Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\nconst cleaned = raw.replace(/```json|```/g, '').trim();\nconst parsed = JSON.parse(cleaned);\nconst now = new Date().toISOString();\nconst visitId = `V${Date.now()}`;\nconst input = $item(0).$node['Webhook Upload'].json.body;\n\nreturn [{\n  json: {\n    visitId,\n    patientName: input.patientName || 'Unknown',\n    recordingText: input.recordingText || '',\n    doctorAdvice: parsed.doctorAdvice || input.doctorAdvice || '',\n    createdAt: now,\n    ...parsed,\n    medicationsJson: JSON.stringify(parsed.medications || []),\n    instructionsJson: JSON.stringify(parsed.instructions || []),\n    redFlagsJson: JSON.stringify(parsed.redFlags || []),\n    followUpJson: JSON.stringify(parsed.followUp || {})\n  }\n}];"
      },
      "id": "ab5388a2-c5ac-4d90-92ee-aa4f4e8dc795",
      "name": "Normalize Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.GOOGLE_SHEET_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Visits"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "visit_id": "={{$json.visitId}}",
            "patient_name": "={{$json.patientName}}",
            "diagnosis": "={{$json.diagnosis}}",
            "diagnosis_simplified": "={{$json.diagnosisSimplified}}",
            "medications_json": "={{$json.medicationsJson}}",
            "instructions_json": "={{$json.instructionsJson}}",
            "red_flags_json": "={{$json.redFlagsJson}}",
            "follow_up_json": "={{$json.followUpJson}}",
            "recording_text": "={{$json.recordingText}}",
            "created_at": "={{$json.createdAt}}",
            "doctor_advice": "={{$json.doctorAdvice}}"
          }
        },
        "options": {}
      },
      "id": "b535f458-dbb7-4575-8e0b-5b6c45198e8c",
      "name": "Append Visit Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        980,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const meds = $json.medications || [];\nconst patientName = $json.patientName;\nconst visitId = $json.visitId;\nconst now = new Date().toISOString();\n\nconst out = [];\nfor (const med of meds) {\n  const timingRaw = String(med.timing || '').trim();\n  if (!timingRaw || timingRaw.toLowerCase() === 'chua duoc chi dinh') continue;\n  const slots = timingRaw.split(/[+,;\\/]/).map(s => s.trim()).filter(Boolean);\n  for (const time of slots) {\n    out.push({\n      json: {\n        reminder_id: `R_${visitId}_${Date.now()}_${Math.floor(Math.random()*10000)}`,\n        visit_id: visitId,\n        patient_name: patientName,\n        medication_name: med.name || '',\n        dosage: med.dosage || '',\n        time_slot: time,\n        frequency: med.frequency || '',\n        completed: 'FALSE',\n        last_reminder: now\n      }\n    });\n  }\n}\n\nreturn out;"
      },
      "id": "f7a66116-7494-439f-ba4f-e6f5d3191f52",
      "name": "Build Reminders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        500
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.GOOGLE_SHEET_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Reminders"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reminder_id": "={{$json.reminder_id}}",
            "visit_id": "={{$json.visit_id}}",
            "patient_name": "={{$json.patient_name}}",
            "medication_name": "={{$json.medication_name}}",
            "dosage": "={{$json.dosage}}",
            "time_slot": "={{$json.time_slot}}",
            "frequency": "={{$json.frequency}}",
            "completed": "={{$json.completed}}",
            "last_reminder": "={{$json.last_reminder}}"
          }
        },
        "options": {}
      },
      "id": "fce12f6f-ab46-4354-aa93-b3e198f706d9",
      "name": "Append Reminder Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1220,
        500
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, visitId: $json.visitId, patientName: $json.patientName, diagnosis: $json.diagnosis, diagnosisSimplified: $json.diagnosisSimplified, medications: $json.medications, instructions: $json.instructions, redFlags: $json.redFlags, followUp: $json.followUp } }}",
        "options": {}
      },
      "id": "01ffba2f-8f16-4f2a-8e44-fac2f6cb90d7",
      "name": "Respond Upload",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1220,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Upload": {
      "main": [
        [
          {
            "node": "Gemini Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Extract": {
      "main": [
        [
          {
            "node": "Normalize Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Output": {
      "main": [
        [
          {
            "node": "Append Visit Row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Visit Row": {
      "main": [
        [
          {
            "node": "Respond Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reminders": {
      "main": [
        [
          {
            "node": "Append Reminder Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "90ef245c-f0f4-4bf8-9ad9-a1ad8f5d57ef",
  "meta": {
    "instanceId": "replace-after-import"
  },
  "id": "postvisit-upload-extract",
  "tags": []
}