n8n/postvisit_reminders.workflow.json
{
  "name": "PostVisit - Reminders Cron",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "764fe3e3-c389-487a-bd7b-d0f6a3e69fd9",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        280
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.GOOGLE_SHEET_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Reminders"
        },
        "options": {}
      },
      "id": "4afdce0d-3e0a-4556-a00c-1c4e50af8de0",
      "name": "Read Reminders",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        500,
        280
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst hh = String(now.getHours()).padStart(2, '0');\nconst rows = items.map(i => i.json);\n\nconst due = rows.filter(r => {\n  if ((r.completed || '').toUpperCase() === 'TRUE') return false;\n  const slot = (r.time_slot || '').trim();\n  const hour = slot.split(':')[0]?.padStart(2, '0');\n  return hour === hh;\n});\n\nif (!due.length) return [{ json: { none: true, message: 'No reminders due this hour', at: now.toISOString() } }];\n\nreturn due.map(r => ({\n  json: {\n    reminder_id: r.reminder_id,\n    visit_id: r.visit_id,\n    patient_name: r.patient_name,\n    medication_name: r.medication_name,\n    dosage: r.dosage,\n    time_slot: r.time_slot,\n    message: `Nhac nho: ${r.patient_name} den gio dung ${r.medication_name} ${r.dosage} (${r.time_slot})`,\n    sent_at: now.toISOString()\n  }\n}));"
      },
      "id": "51c7e01f-15a2-426f-b0f3-0f6a6d0792ce",
      "name": "Filter Due Reminders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f3f4bfd-fde8-47d9-9772-05c503663ad7",
              "leftValue": "={{$json.none}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8481ec09-d312-4d24-a0fc-f861a141132e",
      "name": "No Due Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        280
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.GOOGLE_SHEET_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "ReminderLog"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "log_id": "={{'LOG_' + Date.now() + '_' + Math.floor(Math.random()*10000)}}",
            "reminder_id": "={{$json.reminder_id}}",
            "visit_id": "={{$json.visit_id}}",
            "patient_name": "={{$json.patient_name}}",
            "medication_name": "={{$json.medication_name}}",
            "dosage": "={{$json.dosage}}",
            "time_slot": "={{$json.time_slot}}",
            "message": "={{$json.message}}",
            "sent_at": "={{$json.sent_at}}"
          }
        },
        "options": {}
      },
      "id": "e467576f-1471-4f4e-8cb4-f6d62ee458e6",
      "name": "Append Reminder Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1220,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Optional: call webhook/Slack/Email here.\n// For MVP demo, this node just passes data through for logging.\nreturn items;"
      },
      "id": "51f99152-20d6-4d7c-a8e8-884e5f44bf7f",
      "name": "Dispatch Notification Stub",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        180
      ]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Read Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Reminders": {
      "main": [
        [
          {
            "node": "Filter Due Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Due Reminders": {
      "main": [
        [
          {
            "node": "No Due Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Due Items?": {
      "main": [
        [],
        [
          {
            "node": "Dispatch Notification Stub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append Reminder Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e938f8d3-c570-4a76-ad72-6ef6f1f3550a",
  "meta": {
    "instanceId": "replace-after-import"
  },
  "id": "postvisit-reminders-cron",
  "tags": []
}
